---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
    <section>
        <h1>Page not found.</h1>
        <Button variant="primary" href="/" arrow={true}> Go Home </Button>
    </section>
</Layout>
