---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import SlideUp from "../components/SlideUp.astro";
import Card from "../components/Card.astro";
---

<Layout>
    <section>
        <SlideUp tag="h1" parts="A little bit about me" />
        <p>
            Hi! My name is Nate, and I code and design things for the web. I
            love building new things, exploring technologies, and solving
            problems and am passionate about making the web accessible for
            everyone.
        </p>

        <p>
            Professionally, I develop and maintain a WordPress theme and plugins
            for the College of Agricultural and Life Sciences at UW Madison. My
            daily work involves exploring new technologies (React, WordPress,
            and more) and developing intuitive web solutions for content
            editors. I also maintain a
            <a href="#">
                custom-made website and registration system for a local
                nonprofit.
            </a>
        </p>
        <p>
            Besides development, I love to hike, travel, and explore our
            beautiful planet. I have been to many of the state parks in the
            great state of Wisconsin, and dream of someday taking a road trip
            around the U.S. and exploring our national parks.
        </p>
    </section>
</Layout>

<style>
    .home-hero {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: var(--spacing-40);

        @media screen and (min-width: 600px) {
            grid-template-columns: 2fr 1fr;

            .headshot {
                order: 1;
            }
        }
    }

    .headshot {
        width: 100%;
        max-width: 175px;
        margin: 0;
        padding: 0;
        line-height: 0;
        order: -1;
        justify-self: end;

        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            overflow: hidden;
        }
    }
</style>
