---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import SlideUp from "../components/SlideUp.astro";
import Card from "../components/Card.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <section class="home-hero">
        <div>
            <SlideUp tag="h1" parts="Hello! I'm Nate Barlow" />
            <p>
                I design and develop responsive, accessible websites. I love
                solving problems, exploring new technologies, and getting
                creative.
            </p>
            <Button href="/about" variant="minimal" arrow={true}>
                About me
            </Button>
        </div>
        <figure class="headshot">
            <!-- <img src="/src/assets/headshot-dark.webp" /> -->
            <picture>
                <source
                    srcset="/src/assets/headshot-dark.webp"
                    media="(prefers-color-scheme: dark)"
                />

                <img
                    src="/src/assets/headshot.webp"
                    alt="Nate Barlow Headshot"
                />
            </picture>
        </figure>
    </section>

    <section>
        <SlideUp tag="h2" delay={0.5}>Projects</SlideUp>

        <div class="grid">
            <Card>
                <h3>
                    <a href="#" class="card-link">Lorem Ipsum</a>
                </h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </Card>
            <Card>
                <h3>
                    <a href="#" class="card-link">Lorem Ipsum</a>
                </h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </Card>
            <Card>
                <h3>
                    <a href="#" class="card-link">Lorem Ipsum</a>
                </h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </Card>
        </div>
    </section>
</Layout>

<style>
    .home-hero {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: var(--spacing-40);

        @media screen and (min-width: 600px) {
            grid-template-columns: 2fr 1fr;

            .headshot {
                order: 1;
            }
        }
    }

    .headshot {
        width: 100%;
        max-width: 175px;
        margin: 0;
        padding: 0;
        line-height: 0;
        order: -1;
        justify-self: end;

        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            overflow: hidden;
        }
    }
</style>
