---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import SlideUp from "../components/SlideUp.astro";
import Projects from "../components/Projects.astro";

import headshotLight from "../assets/headshot.webp";
import headshotDark from "../assets/headshot-dark.webp";

import { projects } from "../scripts/projects";
---

<Layout>
    <section class="home-hero">
        <div>
            <SlideUp tag="h1" parts="Hello! I'm Nate Barlow" />
            <p>
                I design and develop responsive, accessible websites. I love
                solving problems, exploring new technologies, and getting
                creative.
            </p>
            <Button href="/about" variant="minimal" arrow={true}>
                About me
            </Button>
        </div>
        <figure class="headshot">
            <Image
                src={headshotLight}
                alt="Nate Barlow Headshot"
                class="light-only"
            />
            <Image
                src={headshotDark}
                alt="Nate Barlow Headshot"
                class="dark-only"
            />
        </figure>
    </section>

    <section>
        <h2>Projects</h2>
        <Projects filters={{ limit: 3 }} />
        {
            projects.count() > 3 && (
                <Button
                    size="small"
                    href="/projects"
                    arrow={true}
                    variant="minimal"
                    style={{ marginTop: "var(--spacing-20)" }}
                >
                    All Projects
                </Button>
            )
        }
    </section>
</Layout>

<style>
    .home-hero {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: var(--spacing-40);

        @media screen and (min-width: 600px) {
            grid-template-columns: 2fr 1fr;

            .headshot {
                order: 1;
                justify-self: end;
            }
        }
    }

    .headshot {
        width: 100%;
        max-width: 175px;
        margin: 0;
        padding: 0;
        line-height: 0;
        order: -1;

        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
        }
    }
</style>
