---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import SlideUp from "../components/SlideUp.astro";
import Projects from "../components/Projects.astro";

import headshot from "../assets/headshot.webp";

import { projects } from "../scripts/projects";
---

<Layout>
    <section class="home-hero">
        <div>
            <h1>
                <SlideUp>Hello!</SlideUp>
                <SlideUp delay={0.5}>I'm</SlideUp>
                <SlideUp delay={0.52}>Nate</SlideUp>
                <SlideUp delay={0.54}>Barlow</SlideUp>
            </h1>
            <p>
                I design and develop responsive, accessible websites. I love
                solving problems, exploring new technologies, and getting
                creative.
            </p>
            <Button href="/about" variant="minimal" arrow={true}>
                About me
            </Button>
        </div>
        <figure class="headshot">
            <Image src={headshot} alt="Nate Barlow Headshot" loading="eager" />
        </figure>
    </section>

    <section>
        <h2>Projects</h2>
        <Projects filters={{ limit: 3 }} />
        {
            projects.count() > 3 && (
                <Button
                    size="small"
                    href="/projects"
                    arrow={true}
                    variant="minimal"
                    style={{ marginTop: "var(--spacing-20)" }}
                >
                    All Projects
                </Button>
            )
        }
    </section>
</Layout>

<style>
    .home-hero {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: var(--spacing-40);
        padding-block: var(--spacing-30);

        @media screen and (min-width: 600px) {
            grid-template-columns: 2fr 1fr;
            padding-block: 0;

            .headshot {
                order: 1;
                justify-self: end;
            }
        }
    }

    .headshot {
        width: 100%;
        max-width: 175px;
        margin: 0;
        padding: 0;
        line-height: 0;
        order: -1;
        border-radius: 100%;
        overflow: hidden;
        background: linear-gradient(
            var(--color-primary-50),
            var(--color-primary-100)
        );
        border: 2px solid var(--color-primary-50--opaque);

        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            height: 100%;
            width: 100%;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
        }
    }
</style>
