---
import Layout from "../layouts/Layout.astro";
import SlideUp from "../components/SlideUp.astro";
import ProjectsList from "../components/Projects.astro";
import TagsNav from "../components/TagsNav.astro";
---

<Layout title="Projects">
    <section>
        <h1>
            <SlideUp>Projects</SlideUp>
        </h1>
        <p>
            Here you'll find an assortment of personal and professional projects
            I've developed with various frameworks.
        </p>

        <TagsNav />
        <ProjectsList />
    </section>
</Layout>

<style>
    h1 {
        margin-bottom: var(--spacing-10);
    }
</style>
