---
import ThemeDark from "./icons/ThemeDark.astro";
import ThemeLight from "./icons/ThemeLight.astro";
import ThemeSystem from "./icons/ThemeSystem.astro";
---

<div class="color-scheme">
    <button
        id="toggle_theme"
        class="color-scheme__toggle"
        aria-label="Toggle light mode"
    >
        <div class="svg"></div>
        <ThemeLight class="color-scheme__toggle-icon" id="icon_light" />
        <ThemeSystem class="color-scheme__toggle-icon" id="icon_system" />
        <ThemeDark class="color-scheme__toggle-icon" id="icon_dark" />
    </button>

    <button
        id="toggle_hue"
        class="color-scheme__toggle color-scheme__toggle-hue"
        aria-label="Change Accent Color"
    >
        <div class="svg"></div>
    </button>
</div>

<style lang="scss">
    .color-scheme {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        &__toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.25rem;
            position: relative;
            overflow: hidden;

            &-icon,
            .svg {
                height: 1.125em;
                width: 1.125em;
            }

            &-icon {
                fill: currentColor;
                position: absolute;
                transform: translateY(calc(-100% - 0.25rem));
                transition: transform var(--transition);

                &:where(body.theme-light #icon_light) {
                    transform: none;
                }

                &:where(body.theme-dark #icon_dark) {
                    transform: none;
                }

                &:where(body:not([class*="theme-"]) #icon_system) {
                    transform: none;
                }
            }

            &.active {
                color: var(--color-text);
            }
        }

        &__toggle-hue {
            .svg {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                height: 1em;
                width: 1em;
                border: 2px solid var(--color-primary);
                background-color: var(--color-primary-100);
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    border-radius: inherit;
                    height: 100%;
                    width: 100%;
                    background-color: var(--color-primary);
                    transform: scale(0);
                    transition: transform var(--transition);

                    &:where(.color-hue-toggle:hover *) {
                        transform: scale(1);
                    }

                    &:where(.color-hue-toggle:active *) {
                        transform: scale(0);
                    }
                }
            }

            &:hover .svg::after,
            &:focus-visible .svg::after {
                transform: scale(1);
            }

            &:active .svg::after {
                transform: scale(0);
            }
        }
    }
</style>

<script>
    import { theme } from "../scripts/theme";

    document.addEventListener("DOMContentLoaded", () => {
        const themeToggle = document.getElementById("toggle_theme");
        const themes = ["", "dark", "light"];

        themeToggle?.addEventListener("click", () => {
            const { colorScheme = "" } = theme.get();
            const currentThemeIndex = themes.indexOf(colorScheme);
            const newColorScheme = themes[currentThemeIndex + 1];

            console.log({ colorScheme, currentThemeIndex, newColorScheme });

            theme.set({ colorScheme: newColorScheme });
        });

        const hueButton = document.getElementById("toggle_hue");

        hueButton?.addEventListener("click", () => {
            document.body.classList.remove("color-change");

            const { hue = 150 } = theme.get();
            const newHue = hue + 20 > 360 ? 1 : hue + 20;
            theme.set({ hue: newHue });

            document.body.classList.add("color-change");
        });

        hueButton?.addEventListener("mouseout", () => {
            document.body.classList.remove("color-change");
        });
    });
</script>
