---
import ThemeDark from "./icons/ThemeDark.astro";
import ThemeLight from "./icons/ThemeLight.astro";
import ThemeSystem from "./icons/ThemeSystem.astro";
---

<div class="color-scheme-toggles">
    <button
        class="color-scheme-toggle"
        data-color-scheme="light"
        title="Toggle light mode"
        aria-label="Toggle light mode"
    >
        <ThemeLight />
    </button>
    <button
        class="color-scheme-toggle"
        data-color-scheme="system"
        title="Toggle system color scheme"
    >
        <ThemeSystem />
    </button>
    <button
        class="color-scheme-toggle"
        data-color-scheme="dark"
        title="Toggle dark mode"
    >
        <ThemeDark />
    </button>

    <button
        id="color-hue-toggle"
        class="color-hue-toggle"
        title="Random New Color"
        aria-label="Random New Color"
    >
        <span class="svg"></span>
    </button>
</div>

<style lang="scss">
    .color-scheme-toggles {
        display: flex;
        align-items: center;
    }

    .color-scheme-toggle {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: currentColor;
            height: 1.125em;
            width: 1.125em;
        }

        &.active {
            color: var(--color-text);
        }
    }

    .color-hue-toggle {
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            height: 1em;
            width: 1em;
            border: 2px solid var(--color-primary);
            background-color: var(--color-primary-100);
            position: relative;

            &::after {
                content: "";
                position: absolute;
                border-radius: inherit;
                height: 100%;
                width: 100%;
                background-color: var(--color-primary);
                transform: scale(0);
                transition: transform var(--transition);

                &:where(.color-hue-toggle:hover *) {
                    transform: scale(1);
                }

                &:where(.color-hue-toggle:active *) {
                    transform: scale(0);
                }
            }
        }

        &:hover span::after,
        &:focus-visible span::after {
            transform: scale(1);
        }

        &:active span::after {
            transform: scale(0);
        }
    }
</style>

<script>
    import { theme } from "../scripts/theme";

    document.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll(".color-scheme-toggle");
        const hueButton = document.getElementById("color-hue-toggle");

        let { colorScheme } = theme.get();
        if (!colorScheme) colorScheme = "system";

        const setActiveButton = (scheme: string) => {
            buttons.forEach((button: any) => {
                button.dataset.colorScheme === scheme
                    ? button.classList.add("active")
                    : button.classList.remove("active");
            });
        };

        setActiveButton(colorScheme);

        buttons.forEach((button: any) => {
            if (button.dataset.colorScheme === colorScheme) {
                button.classList.add("active");
            }

            button.addEventListener("click", () => {
                let colorScheme = button.dataset.colorScheme;

                setActiveButton(colorScheme);

                if (colorScheme === "system") {
                    colorScheme = "";
                }

                theme.set({ colorScheme });
            });
        });

        hueButton?.addEventListener("click", () => {
            document.body.classList.remove("color-change");

            const { hue = 150 } = theme.get();
            const newHue = hue + 20 > 360 ? 1 : hue + 20;
            theme.set({ hue: newHue });

            document.body.classList.add("color-change");
        });

        hueButton?.addEventListener("mouseout", () => {
            document.body.classList.remove("color-change");
        });
    });
</script>
