---
import GitHub from "../components/icons/GitHub.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SlideUp from "../components/SlideUp.astro";
import Theme from "../components/Theme.astro";

const year = new Date().getFullYear();
---

<footer>
    <ul class="social-links list-style-none">
        <SlideUp tag="li" delay={0.35}>
            <a
                class="social-link"
                href="https://www.linkedin.com/in/nbarlow6/"
                title="LinkedIn"
            >
                <LinkedIn />
            </a>
        </SlideUp>
        <SlideUp tag="li" delay={0.4}>
            <a
                class="social-link"
                href="https://github.com/nathan-barlow"
                title="GitHub"
            >
                <GitHub />
            </a>
        </SlideUp>
    </ul>

    <div class="footer-bottom">
        <p class="copyright">
            <a href="/">&copy; {year} Nate Barlow</a>
        </p>

        <Theme />
    </div>
</footer>

<style lang="scss">
    footer {
        .copyright {
            margin: 0;
        }
    }

    .footer-bottom {
        margin-top: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .social-links {
        gap: 0.75rem;
    }

    .social-link {
        display: flex;

        svg {
            height: 1.125em;
            width: 1.125em;
        }
    }

    // @media screen and (hover: none) and (max-width: 800px) {
    @media screen and (max-width: 800px) {
        :global(button),
        a {
            &:has(svg) {
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    inset: -0.75rem;
                }
            }

            svg {
                font-size: 1.5rem;
            }
        }

        .social-links {
            gap: 1.25rem;
        }
    }
</style>
