---
import { Image } from "astro:assets";
import Logo from "../components/icons/Logo.astro";
---

<header>
    <a href="/" class="logo" aria-label="Home">
        <Logo />
    </a>

    <nav class="main-nav">
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
    </nav>
</header>

<style lang="scss">
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--gutter);
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        width: 52px;
        padding: 0.125rem;
        border-radius: 0.5rem;
        corner-shape: squircle;
        background-color: var(--color-primary-50);
        border: 1px solid var(--color-primary-50);
        transition: background-color var(--transition);

        &:hover,
        &:focus-visible {
            background-color: var(--color-primary-100);
        }

        :global(svg) {
            fill: var(--color-primary);
        }
    }
</style>
